@media screen {

    body {
        margin: auto;
        padding: 0.5rem;
        width: 95vw;
    }
    
    fieldset {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        margin-top: 0.6rem;
        page-break-inside: avoid;
    }
    
    fieldset > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 0.4rem;
    }
    
    input {
        border-top-style: hidden;
        border-left-style: hidden;
        border-right-style: hidden;
        border-bottom: 1px solid black;
    }
    
    input:focus {
        outline: none;
    }
    
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .checkbox-field {
        display: flex !important;
        flex-direction: row;
        min-width: max-content;
        justify-content:flex-start;
        align-items: center;
    }
    
    .hyväksyntä {
        grid-template-columns: 1fr;
    }
    
    .lisätiedot-row {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .lisätiedot-row > div, .signatures > div, .laite-rivi > .laite > div, .asentaja > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 0.4rem;
    }
    
    #asentaja-btn {
        border: solid 1px black;
        width: min-content;
        margin-top: 0.7rem;
    }
    
    .btn-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .laitteen-tiedot {
        grid-template-columns: 1fr;
    }
    
    .laite-rivi > .laite {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .lisää-rivi-btn {
        margin-top: 0.4rem;
        width: min-content;
        white-space: nowrap;
        border: 1px solid black;
    }
    
    .lisää-rivi-btn:hover {
        cursor: pointer;
        background-color:whitesmoke;
    }
    
    .checkboxes {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
    }
    
    .signatures {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    * {
        row-gap: 0.2rem;
        column-gap: 0.7rem;
    
        font-family: Arial, Helvetica, sans-serif;
    }
    
    label {
        font-size: smaller;
    }
}
@media print {
    body {
        margin: auto !important;
        padding: 0.5rem !important;
        width: 95vw !important;
    }

    form {
        display: grid !important;
    }
    
    fieldset {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        margin-top: 0.6rem !important;
        page-break-inside: avoid !important;
    }
    
    .asentajat {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)) !important;
    }
    
    fieldset>div {
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-end !important;
        margin-top: 0.4rem !important;
    }
    
    input {
        border-top-style: hidden !important;
        border-left-style: hidden !important;
        border-right-style: hidden !important;
        border-bottom: 1px solid black !important;
    }
    
    input:focus {
        outline: none !important;
    }
    
    .header {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    
    .checkbox-field {
        display: flex !important;
        flex-direction: row !important;
        min-width: max-content !important;
        justify-content: flex-start !important;
        align-items: center !important;
    }
    
    .hyväksyntä {
        grid-template-columns: 1fr !important;
    }
    
    .lisätiedot-row {
        display: grid !important;
        grid-template-columns: 1fr !important;
    }
    
    .lisätiedot-row>div,
    .signatures>div,
    .laite-rivi>.laite>div,
    .asentaja>div {
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-end !important;
        margin-top: 0.4rem !important;
    }
    
    #asentaja-btn {
        border: solid 1px black !important;
        width: min-content !important;
        margin-top: 0.7rem !important;
        display: none !important;
    }
    
    .btn-row {
        display: flex !important;
        flex-direction: row !important;
        justify-content: flex-start !important;
        display: none !important;
    }
    
    .laitteen-tiedot {
        grid-template-columns: 1fr !important;
    }
    
    .laite-rivi>.laite {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }
    
    .lisää-rivi-btn {
        margin-top: 0.4rem !important;
        width: min-content !important;
        white-space: nowrap !important;
        border: 1px solid black !important;
        display: none !important;
    }
    
    .lisää-rivi-btn:hover {
        cursor: pointer !important;
        background-color: whitesmoke !important;
    }
    
    .checkboxes {
        display: grid !important;
        grid-template-columns: repeat(4, 1fr) !important;
    }
    
    .signatures {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }
    
    * {
        transition: none !important;
        row-gap: 0.2rem !important;
        column-gap: 0.7rem !important;
    
        font-family: Arial, Helvetica, sans-serif !important;
    }
    
    label {
        font-size: smaller !important;
    }
}